{% extends 'app/base.html' %}
{% block title %} <title>Menu</title> {% endblock %}

  
<!-- header -->
    {% block style %}
    <style>
        .container{
        max-width:100%;
      }
      .col-md-12 ,col-sm-12{
        margin-left: 20px;
        margin-right: 20px;
    }

    
        .carousel-control-next,
        .carousel-control-prev{
          top:auto; 
          bottom:auto;
        }

        #category{
          padding-top: 40px;
        }

        .carousel-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

        .carousel-controls .carousel-control-prev,
        .carousel-controls .carousel-control-next {
            align-self: center;
            margin: 0 -60px; 
        }
        
        .carousel-inner {
        display: flex;
        justify-content: center;
        }

        .carousel-item {
        margin-right: auto;
        margin-left: auto;
        }
        

        
    </style> 
    {% endblock %}

    {% block nav %}
  
    {% endblock %}
<!-- navbar end -->


{% block body %}

<!-- slideshow start -->
<main>
<div class="container">

  <div id="carouselExampleAutoplaying" class="carousel slide my-4 col-md-12 col-sm-12 mx-auto">      
    <div id="mycarousel" class="owl-carousel owl-theme"> <!-- Add owl-carousel class and owl-theme -->
    
      {% for category in categories %}
      
      <div class="item">
        <div class="col-md-12 col-sm-6">
        <div class="card" style="width: 18rem;">
        <img width="250" height="250" class="card-img-top" src="/media/{{category.Image}}" alt="lunch">
        <div class="card-body">
          <h5 class="card-title">{{ category.name }}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>
  
      {% endfor %}
  </div>
  </div>
  

<!-- container end -->
  </div>

</main>

 
{% endblock %}


{% block script %}

<script>
  //owl carousel
$(document).ready(function(){
    $("#mycarousel").owlCarousel({
        margin:10,
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1,
                nav: false
            },
            600: {
                items: 2,
                nav: false
            },
            1000: {
                items: 4,
                nav: false,
                loop: true
            }
        }
    });
});
    
</script>

{% endblock %}


    <!-- footer -->
    